* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Work Sans", sans-serif;
    color: #F5FBF2;
    background-color: #1C121F;
}
nav {
    position: absolute;
    top: 2.3rem;
    right: 9.6rem;
    left: 5rem;
    z-index: 2;
    display: flex;
    justify-content: space-between;
}
label {
    display: none;
}
.menu_list > ul {
    display: flex;
    align-items: center;
}
.point {
    float: left;
    text-align: center;
    padding: 0 0 0.6rem 0;
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 0.02rem;
    display: block;
    cursor: pointer;
}
.point:nth-child(1), .point:nth-child(2) {
    margin-right: 3.8rem;
}
.point:last-child {
    margin-left: 9.5rem;
    width: 12.2rem;
    padding: 1.3rem 1.8rem;
    font-weight: 600;
    white-space: nowrap;
    border: 1px solid #FFCE4E;
    color: #FFCE4E;
    background-color: #E9D7A710;
}
.point > a, .poster_bid__bid_place a, footer a, a {
    text-decoration: none;
    color: #F5FBF2;
}
.point:last-child > a, .point > a:hover, h1 span, .steps p {
    color: #FFCE4E;
}
.point:not(:last-child):hover {
    border-bottom: 1px solid #FFCE4E;
}
.point:last-child:active {
    transform: translate(0.3rem, 0.3rem);
}
.hero, footer {
    margin: 0 auto;
    width: 100vw;
}
.hero {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
}
.item-1 {
    margin-left: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.item-1, .item-2 {
    height: 66.4rem;
}
h1 {
    text-align: left;
    font-size: 5.3rem;
    font-weight: 700;
    /**line-height: 130%;**/
}
h1, .counter > p:nth-child(1), .bid_current, .duration, .artist > p:nth-child(1), h2, .catalog__bid_current > p:first-child, #explore .catalog__bid_current > p, .creators__cards__content > p:first-child, .creators__cards__items > p:first-child {
    font-family: "Oxanium", cursive;
}
.buttons {
    margin: 4.8rem 0 7.6rem 0;
}
.button {
    font-size: 1.8rem;
    font-weight: 600;
    padding: 1rem 4rem;
    white-space: nowrap;
    cursor: pointer;
}
.button_explore {
    margin-right: 3.3rem;
}
.button_explore, .button_view-all:hover, .button_view-all:focus {
    color: #000000;
    background-color: #FFCE4E;
}
.button_create {
    color: #FFFFFF;
    background-color: #E9D7A711;
    border: 1px solid #FFCE4E;
}
button:not([class*="email_submit"]):not([class$="circle"]):active {
    transform: translate(0, 0.75rem);
}
.statistics {
    min-width: 21.3rem;
    max-width: 40.5rem;
    display: flex;
    justify-content: space-between;
}
.counter > p:nth-child(1) {
    font-size: 3.9rem;
    font-weight: 700;
}
.counter > p:nth-child(2) {
    color: #9B9E9A;
    font-size: 1.5rem;
    padding-left: 1.3rem;
}
.item-2 {
    margin-left: 1.9rem;
    background-color: #4F464E45;
    position: relative;
}
.blurr {
    padding: 15.1rem 9.6rem 6.9rem 2.7rem;
    width: fit-content;
}
.blurr > div:first-child > div {
    position: relative;
}
.blurr img {
    min-width: 17.6rem;
}
img {
    display: block;
    max-width: 100%;
    height: fit-content;
}
.rectangle_top {
    position: absolute;
    top: 1.5rem;
    right: 1.4rem;
    left: 1.4rem;
    height: 6.1rem;
    padding: 1.1rem 3.7rem 1.1rem 2.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to left, rgba(251, 227, 211, 0.7354), rgba(254, 169, 114, 0.3169));
    backdrop-filter: blur(2.8rem);
    filter: drop-shadow(0 0.3rem 1.9rem #00000012);
}
.bid_current > p:nth-child(1), .duration > p:nth-child(1) {
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    color: #E4DEE7;
}
.bid_current > p:nth-child(2), .duration > p:nth-child(2) {
    font-size: 2rem;
    font-weight: 700;
    color: #FFFFFF;
}
.rectangle_bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 8.9rem;
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
}
.rectangle_bottom {
    padding: 2.2rem 2.4rem 0 3.8rem;
}
.artist > p:nth-child(1) {
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    color: #16091B;
}
.artist > p:nth-child(2) {
    font-size: 1.5rem;
    /**line-height: 2.2em;**/
    color: #594D5E;
}
.bid_start {
    margin-top: 0.1rem;
}
.bid_start, .poster_bid__bid_place {
    width: 12.8rem;
    height: 4.5rem;
    padding: 1.4rem 2.8rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #000000;
    background-color: #FFCE4E;
}
.scroll_down {
    position: absolute;
    right: calc(100% - 5.8rem);
    top: calc(100% - 3.4rem);
    background-color: #6D5B7240;
    animation: jumpInfinite 2s infinite;
}
@keyframes jumpInfinite {
    0% {
        margin-top: 0;
    }
    50% {
        margin-top: 1.3rem;
    }
    100% {
        margin-top: 0;
    }
}
.scroll_down, [class*="circle"] {
    width: 9.8rem;
    height: 9.8rem;
    border-radius: 50%;
    display: block;
    cursor: pointer;
}
.arrow {
    top: 42%;
    left: 50%;
}
.arrow, .arrow:before, .arrow:after {
    position: absolute;
    width: 0.2rem;
    height: 2.1rem;
    background-color: #D2cECE;
}
.arrow:before, .arrow:after {
    content: " ";
    width: 1rem;
    height: 0.2rem;
    bottom: calc(0% + 0.2rem);
}
.arrow:before {
    left: calc(50% - 0.2rem);
    transform: rotate(-45deg);
}
.arrow:after {
    right: calc(50% - 0.2rem);
    transform: rotate(45deg);
}
main {
    width: 100vw;
    max-width: 1600px;
    margin: 0 auto;
}
#clients {
    margin: 12.1rem auto 6.5rem;
    min-width: 18.9rem;
    max-width: 77.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.9rem 8.2rem;
}
.auctions {
    height: 77.1rem;
    padding-top: 5.6rem;
    background: linear-gradient(170deg, #25192800, #251928);
}
.auctions > .title {
    margin-left: calc(50% - 14.1rem);
    position: relative;
}
.title > .circle {
    width: 6.9rem;
    height: 6.9rem;
    background-color: #8613A5;
    position: absolute;
}
.circle + h2 {
    position: absolute;
    margin: 0.6rem 0 0 2.5rem;
    white-space: nowrap;
}
h2 {
    font-size: 4rem;
    font-weight: bold;
    /**line-height: 130px;**/
}
.navigation {
    margin: 6.8rem 0 2.6rem calc(100% - 13.5rem);
    width: 8.5rem;
    display: flex;
    justify-content: space-between;
}
.button_circle {
    width: 3.4rem;
    height: 3.4rem;
    background-color: #F5FBF2;
    position: relative;
}
.right {
    top: 50%;
    left: 25%;
}
.right, .right:before, .right:after {
    position: absolute;
    width: 1.7rem;
    height: 0.2rem;
    background-color: #000000;
}
.right:before, .right:after {
    content: " ";
    left: calc(50% + 0.2rem);
    width: 0.6rem;
}
.right:before {
    top: 0.2rem;
    transform: rotate(-45deg);
}
.right:after {
    bottom: 0.2rem;
    transform: rotate(45deg);
}
.left {
    transform: scale(-1, 1);
}
.button_circle:active {
    transform: translateX(-0.3rem);
}
.button_circle:nth-child(2):active {
    transform: translateX(0.3rem);
}
[class$="catalog"] {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    margin-bottom: 5.3rem;
}
[class$="catalog"] > div {
    margin-left: 2.6rem;
    background-color: #3D2942;
}
[class$="catalog"] > div:first-child {
    margin-left: 5rem;
}
.catalog > div {
    min-width: 30.9rem;
    height: 43.2rem;
    padding: 1.8rem 2rem;
}
.countdown {
    position: relative;
}
.painter-estimation {
    margin-top: 1.8rem;
    display: flex;
    justify-content: space-between;
}
[class$="profile"]{
    width: 13.1rem;
    height: 3.9rem;
    display: flex;
    justify-content: space-between;
}
.painter > p:first-child, .catalog__bid_current > p:last-child, .explore__profile__painter > p:first-child {
    font-size: 1.8rem;
    font-weight: 700;
    /**line-height: 2.2rem;**/
    color: #F5FBF2;
}
.painter > p:last-child, .explore__profile__painter > p:last-child, .explore__estimation > p {
    font-size: 1.3rem;
    /**line-height: 2.2rem;**/
    color: #BDAAC1;
}
.estimation, .explore__estimation {
    width: 4.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.estimation > p {
    font-size: 2rem;
    /**line-height: 2.2rem;**/
    color: #76607A;
}
.catalog__bid_current {
    margin-top: 1.8rem;
    display: flex;
    justify-content: space-between;
}
.catalog__bid_current > p:first-child {
    font-size: 1.5rem;
    /**line-height: 2.2rem;**/
    color: #C6BFC8;
}
.button_bid {
    margin-top: 2.05rem;
    width: 100%;
    height: 4.9rem;
    font-size: 1.5rem;
    font-weight: 500;
    /**line-height: 2.2rem;**/
    letter-spacing: 0.08rem;
    color: #FFFFFF;
    background-color: #E9D7A710;
    border: 1px solid #FDE8B3;
}
.poster_blue {
    width: 26.9rem;
    height: 22.4rem;
    overflow: hidden;
}
time {
    position: absolute;
    bottom: 0;
    padding: 1rem 2.9rem;
    color: #F5FBF2;
    font-size: 1.5rem;
    font-weight: 600;
    /**line-height: 2.2rem;**/
    letter-spacing: 0.03rem;
    background: linear-gradient(to top left, #FAFAFA65, #8613A5);
    backdrop-filter: blur(2.8rem);
}
.button_view-all {
    display: block;
    margin: 0 auto;
    width: 16rem;
    padding: 1.5rem 4rem;
    font-size: 1.9rem;
    letter-spacing: 0.2rem;
    color: #F5FBF2;
    font-weight: 500;
    background-color: inherit;
    border: 1px solid #FFCE4E;
}
.work {
    margin: 11.6rem 0 11.5rem;
}
.work h2 {
    text-align: center;
}
.steps {
    margin: 4.4rem 8.3rem;
    display: flex;
    justify-content: center;
    white-space: nowrap;
}
.steps img {
    margin: auto;
}
.steps p {
    margin-top: 2rem;
}
.steps p, .email_submit {
    font-size: 1.5rem;
    font-weight: 600;
}
.line {
    margin-top: 3.2rem;
    width: 10.8rem;
    height: 0.1rem;
    background: repeating-linear-gradient(to left, #794187 0, #794187 0.9rem, transparent 0.9rem, transparent 1.4rem);
    position: relative;
}
.line > div {
    position: absolute;
    top: -0.2rem;
    right: 0;
    width: 0.5rem;
    height: 0.5rem;
    transform: rotate(45deg);
    background-color: #794187;
}
.steps > div:nth-child(3) > p {
    margin-left: -1.1rem;
}
.line:nth-child(4) {
    margin-left: -1.3rem;
}
.steps > div:nth-child(5) > p {
    margin-left: 0.2rem;
}
.line:nth-child(6) {
    width: 8.1rem;
    margin-left: -2.4rem;
}
.steps > div:last-child > p {
    margin-left: -0.9rem;
}
.collections > .title {
    margin-left: calc(50% - 21.3rem);
}
.collections > .title > .circle {
    background-color: #E03054;
}
.collections > .title > .circle > h2, #explore > .title > .circle > h2 {
    margin-left: 1.8rem;
}
.collections__catalog {
    padding-top: 13.5rem;
    position: relative;
}
.collections__catalog > div {
    min-width: 32.8rem;
    height: 27rem;
    padding: 2.3rem;
}
.collections__catalog > div:not(:first-child) {
    margin-left: 2.3rem;
}
.collections__content, .collections__content > div {
    display: flex;
    align-items: center;
}
.collections__content {
    margin-top: 1.5rem;
    justify-content: space-between;
}
.collections__content > div > p {
    margin-left: 1rem;
    font-size: 2rem;
    /**line-height: 2.3rem;**/
    color: #F5FBF2;
}
.collections__content > p {
    font-size: 1.3rem;
    font-weight: 600;
    /**line-height: 35.5px;**/
    color: #C2B5C6;
}
.collections__catalog > .button_circle {
    position: absolute;
    top: 24.8rem;
    right: 3rem;
}
#explore {
    margin: 6.5rem 0 7.1rem;
    padding: 5.1rem 0 5rem;
    background-color: #251928;
}
#explore > .title {
    margin-left: calc(50% - 22.5rem);
}
.explore__catalog {
    margin-top: 13.3rem;
}
.explore__catalog > div {
    min-width: 25.9rem;
    height: 31.5rem;
    padding: 2rem 2rem 1.8rem;
}
#explore .painter-estimation {
    margin-top: 1rem;
}
.explore__profile {
    width: 12rem;
    align-items: center;
}
.explore__profile > img {
    width: 3.6rem;
}
.explore__profile__painter > p:first-child, .explore__estimation > p {
    font-size: 1.5rem;
}
.poster_bid {
    position: relative;
}
.poster_bid__bid_place {
    position: absolute;
    top: 8.6rem;
    left: 2.3rem;
    width: 15.4rem;
    height: 4.4rem;
    padding: 1.3rem 3.6rem;
    font-weight: 600;
    display: none;
}
.poster_bid__bid_place a {
    color: #000000;
}
.poster_bid:hover > .poster_bid__bid_place {
    display: block;
}
.explore__profile__painter > p:last-child {
    font-size: 1.1rem;
}
.explore__estimation {
    width: 4.1rem;
    font-weight: normal;
}
.explore__estimation > img {
    width: 1.5rem;
}
#explore > .catalog__bid_current {
    margin-top: 1.5rem;
}
#explore .catalog__bid_current > p {
    font-size: 1.3rem;
}
#creators {
    background: linear-gradient(to top, #1C121F21, #1C121F);
    margin-bottom: 5rem;
}
#creators > .title {
    margin-left: calc(50% - 13.4rem);
}
#creators > .title > .circle {
    background-color: #E03054;
}
#creators > .title > h2 {
    margin-left: 2.4rem;
}
.creators__cards {
    padding: 12.5rem 0 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, 38rem);
    gap: 3.8rem 4.5rem;
    justify-content: center;
}
.creators__cards > div {
    width: 38rem;
    height: 9.8rem;
    display: flex;
    align-items: center;
    background-color: #302034;
    box-shadow: inset 0.1rem 0 0 0 #E03054;
}
.creators__cards > div > img {
    margin-left: 1.8rem;
    width: 6.5rem;
    height: 6.5rem;
}
.creators__cards__content {
    margin-left: 1.5rem;
}
.creators__cards__content > p:first-child, .creators__cards__items > p:first-child {
    font-size: 2rem;
    font-weight: 600;
    /**line-height: 2.2rem;**/
    letter-spacing: 0.1rem;
    color: #F5FBF2;
    margin-bottom: 0.5rem;
}
.creators__cards__content > p:last-child, .creators__cards__items > p:last-child {
    font-size: 1.5rem;
    font-weight: 500;
    /**line-height: 2.3rem;**/
    color: #BDAAC1;
}
.creators__cards__items {
    margin-left: 6.3rem;
    height: 6.3rem;
    border-left: 0.2rem solid #49374E;
}
.creators__cards__items > p:first-child {
    padding-left: 3.6rem;
    font-weight: bold;
    letter-spacing: 0;
    margin-bottom: 0.4rem;
}
.creators__cards__items > p:last-child {
    padding-left: 2.8rem;
    color: #908294;
}
#subscribe {
    padding: 7.3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to top, #1C121F21, #1C121F), url(image/Pattern.png);
    background-repeat: no-repeat;
    background-size: cover;
    filter: drop-shadow(0 0.3rem 0.3rem #00000025);
}
#subscribe > h2 {
    margin-bottom: 1.9rem;
}
.subscription {
    width: 42.5rem;
    height: 6rem;
    border: 1px solid #E7B226;
    position: relative;
}
.email_add {
    position: absolute;
    width: 27.3rem;
    height: 100%;
    padding: 1.9rem 0 1.9rem 3.3rem;
    font-size: 1.5rem;
    /**line-height: 35.5px;**/
    color: #A48EA9;
    background-color: transparent;
}
.email_submit {
    position: absolute;
    top: 0;
    right: 0;
    width: 15.3rem;
    height: 100%;
    padding: 1.9rem 4rem;
    font-weight: 700;
    color: #251928;
    /**line-height: 35.5px;**/
    background-color: #E7B226;
    cursor: pointer;
}
footer {
    display: grid;
    grid: "footer_item-1 footer_item-1 about support" / 1fr 1fr 1fr 1fr;
    background-color: #251928;
}
.footer_item-1 {
    display: flex;
    grid-area: footer_item-1;
}
.footer__logo {
    margin: 7.2rem 3.2rem 0 5rem;
    min-width: 7rem;
}
.footer__text {
    margin-top: 7.4rem;
    width: 24.4rem;
    min-width: 21.4rem;
    font-weight: 500;
}
.footer__text, .footer__rights, footer a {
    font-size: 1.3rem;
    line-height: 2.3rem;
    color: #96839B;
}
.elements {
    margin: 3.3rem 0;
    width: 14.2rem;
    min-width: 14.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footer__rights {
    margin-bottom: 7.3rem;
}
.about {
    margin-left: 7.1rem;
    grid-area: about;
}
.support {
    margin-left: 4.6rem;
    grid-area: support;
}
.about__list, .support__list {
    list-style-type: none;
    font-weight: 500;
    line-height: 3.2rem;
}
h3 {
    margin-top: 6.8rem;
    font-size: 1.5rem;
    /**line-height: 2.2rem;**/
    font-weight: bold;
    color: #F5FBF2;
    list-style-type: none;
    margin-bottom: 2rem;
}
@media (max-width: 944px) {
    footer {
        grid: "footer_item-1 footer_item-1" "about support" / 1fr 1fr;
        justify-items: center;
    }
    .footer_item-1 {
        flex-direction: column;
    }
    .footer__logo {
        margin: 3.6rem auto 3.2rem;
    }
    .footer__text {
        margin: 0 auto;
        text-align: center;
    }
    .elements {
        margin: 21.3rem auto 0.6rem;
    }
    .footer__rights {
        text-align: center;
        margin-bottom: 0.7rem;
    }
    .about, .support {
        margin: -31.3rem 0 0 1.8rem;
    }
    .support {
        margin-left: 1.5rem;
    }
}
@media (max-width: 768px) {
    nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 5.8rem;
        padding: 1.9rem 1.3rem 1.7rem 1rem;
        background-color: #1C121F;
    }
    .logo {
        width: 3rem;
    }
    .btn {
        height: 3rem;
        padding-top: 1.4rem;
        display: block;
        align-self: center;
        cursor: pointer;
    }
    .menu_hamburger, .menu_hamburger:before, .menu_hamburger:after {
        width: 1.4rem;
        height: 0.2rem;
        transition: all .2s ease-out;
        background-color: #FFCE4E;
    }
    .menu_hamburger:before, .menu_hamburger:after {
        content: " ";
        position: absolute;
    }
    .menu_hamburger:before {
        transform: translateY(-0.4rem);
    }
    .menu_hamburger:after {
        transform: translateY(0.4rem);
    }
    #checkbox:checked ~ .btn .menu_hamburger {
        background-color: transparent;
    }
    #checkbox:checked ~ .btn .menu_hamburger:before {
        transform: rotate(45deg);
    }
    #checkbox:checked ~ .btn .menu_hamburger:after {
        transform: rotate(-45deg);
    }
    .menu_list {
        height: 100%;
        position: fixed;
        top: 5.8rem;
        left: 0;
        right: 0;
        display: block;
        background-color: #1C121F;
        max-height: 0;
        overflow: hidden;
        transition: max-height .5s ease-out;
    }
    .menu_list > ul {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .menu_list .point {
        margin: 0;
        width: fit-content;
    }
    #checkbox:checked ~ .menu_list {
        max-height: calc(100% - 5.8rem);
    }
}
@media only screen and (max-width: 376px) {
    .item-1, .item-2 {
        margin-left: 0;
        height: fit-content;
    }
    .item-1 {
        margin-top: 5.8rem;
        background-image: linear-gradient(to top, #1C121F21, #1C121F), url("./image/Patern.png");
        background-size: 23.4rem 20.4rem;
        background-repeat: no-repeat;
    }
    h1 {
        padding-top: 3.3rem;
        text-align: center;
        font-size: 2.6rem;
        /**line-height: 3.9rem;**/
        margin-bottom: 3.6rem;
    }
    .buttons {
        margin: auto;
        z-index: 1;
    }
    .button {
        font-size: 1.1rem;
        letter-spacing: 0.06rem;
    }
    .button_explore {
        margin-right: 1.3rem;
        padding: 1rem 2.6rem;
    }
    .button_create {
        padding: 1rem 2.9rem;
        background-color: #594846;
    }
    .statistics {
        margin: 33.1rem auto 0;
    }
    .item-2 {
        margin-top: -39.4rem;
        width: 23.4rem;
        height: 31.3rem;
        padding: 5rem 0.3rem 2.7rem 2.7rem;
    }
    .blurr > div:first-child > div {
        width: 17.6rem;
    }
    .rectangle_top {
        height: 4.6rem;
        padding-right: 0.7rem;
        padding-left: 1.4rem;
        border-radius: 5%;
    }
    .rectangle_top p:first-child {
        font-size: 1rem;
        letter-spacing: 0.08rem;
    }
    .rectangle_top p:last-child {
        font-size: 1.4rem;
    }
    .rectangle_bottom {
        height: 5.1rem;
        padding: 1rem 1.7rem 1.2rem 2.8rem;
    }
    .rectangle_bottom p:first-child {
        font-size: 1.1rem;
        font-weight: bold;
        letter-spacing: 0.08rem;
    }
    .rectangle_bottom p:last-child {
        font-size: 0.9rem;
    }
    .bid_start {
        margin-top: 0.3rem;
        max-width: 7.6rem;
        max-height: 2.6rem;
        padding: 0;
        font-size: 1rem;
        letter-spacing: 0;
    }
    .scroll_down {
        display: none;
    }
    .counter > p:first-child {
        font-size: 2.3rem;
    }
    .counter > p:last-child {
        font-size: 1rem;
    }
    #clients {
        margin: 4.6rem auto 5.8rem;
        width: 18.9rem;
        justify-content: space-between;
        column-gap: 3.3rem;
    }
    #clients > img:first-child {
        width: 5.9rem;
    }
    #clients > img:nth-child(2) {
        width: 9.7rem;
    }
    #clients > img:nth-child(3) {
        width: 7.5rem;
    }
    #clients > img:last-child {
        width: 6.9rem;
    }
    .auctions {
        padding: 3.4rem 1rem 3.6rem;
        height: 132.6rem;
        background-color: #251928;
        filter: drop-shadow(0 0.3rem 0.3rem #00000025);
    }
    .auctions > .title {
        margin-left: 2.8rem;
    }
    .title > .circle {
        width: 5.3rem;
        height: 5.3rem;
    }
    h2 {
        font-size: 2.3rem;
        /**line-height: normal;**/
    }
    .auctions > .title > h2 {
        margin: 1.3rem 0 1.3rem 1.5rem;
    }
    .navigation {
        display: none;
    }
    [class$="catalog"] {
        flex-direction: column;
        margin-bottom: 3rem;
    }
    .auctions > .catalog {
        margin-top: 8.3rem;
        height: 111rem;
        row-gap: 3rem;
    }
    [class$="catalog"] > div:first-child, [class$="catalog"] > div:not(:first-child) {
        margin: 0 auto;
        min-width: 21.4rem;
        max-width: 21.4rem;
        padding: 1.5rem;
    }
    .catalog > div {
        height: 35rem;
    }
    .poster {
        width: 18.4rem;
        height: 19.9rem;
    }
    .countdown > time {
        padding: 0.7rem 3.1rem 0.7rem 2.2rem;
        font-size: 1.1rem;
        letter-spacing: 0;
    }
    [class$="profile"] {
        width: 9.4rem;
        height: 3.4rem;
    }
    .profile > img, .explore__profile > img {
        width: 2.6rem;
        height: 2.6rem;
    }
    .painter-estimation {
        margin: 0.8rem 0 1.4rem;
        width: 17.3rem;
    }
    .painter > p:first-child, .explore__profile__painter > p:first-child {
        font-size: 1.1rem;
    }
    .painter > p:last-child, .explore__profile__painter > p:last-child {
        font-size: 0.9rem;
    }
    .estimation, .explore__estimation {
        width: 3.8rem;
    }
    .estimation > img, .explore__estimation > img {
        width: 1.5rem;
        height: 1.4rem;
    }
    .estimation > p, .explore__estimation > p, .catalog__bid_current > p:last-child {
        font-size: 1.5rem;
    }
    .catalog__bid_current, .catalog > div > div:last-child > div:last-child {
        margin: 0 auto;
        width: 16.9rem;
    }
    .catalog__bid_current > p:first-child, .creators__cards__content > p:first-child {
        font-size: 1.3rem;
    }
    .catalog__bid_current > p:last-child, .painter > p:first-child {
        font-weight: bold;
    }
    .button_bid {
        margin-top: 0.9rem;
        height: 3.4rem;
    }
    .button_view-all, .poster_bid__bid_place {
        margin: 0 auto;
        width: 11.7rem;
        height: 3.4rem;
        padding: 0.8rem 3.6rem 0.8rem;
    }
    .work {
        margin: 5.4rem 0 4.8rem;
    }
    .steps {
        margin: 3.3rem 3.4rem 0;
        flex-direction: column;
        align-items: center;
    }
    .steps img {
        width: 4.5rem;
        height: 4.5rem;
    }
    .steps > div:nth-child(2n - 1) > p {
        margin: 1.5rem auto 0;
    }
    .line {
        transform: rotate(90deg);
    }
    .line:nth-child(2n) {
        margin: 5.3rem 0 5rem;
        width: 7.8rem;
    }
    .line:nth-child(2) {
        margin: 3.8rem0;
        width: 4.5rem;
    }
    .collections > .title {
        margin-left: 0.9rem;
    }
    .collections > .title > h2 {
        margin: 1rem 0 0 0.9rem;
    }
    .collections__catalog {
        height: 63.4rem;
        padding-top: 8.5rem;
        row-gap: 1.5rem;
    }
    .collections__catalog > div {
        height: 17.3rem;
        padding: 1.3rem 1.3rem 1.3rem;
    }
    .collections__catalog > div > img {
        width: 18.9rem;
        height: 11.1rem;
    }
    .collections__content {
        margin-top: 1rem;
        width: 17.4rem;
    }
    .collections__content > div > img {
        width: 2.6rem;
        height: 2.6rem;
    }
    .collections__content > div > p {
        margin-left: 0.8rem;
        font-size: 1.3rem;
        font-weight: 500;
        /**line-height: 35.5px;**/
    }
    .collections__content > p {
        font-size: 1rem;
    }
    .collections__catalog > .button_circle {
        display: none;
    }
    #explore {
        margin: 4.6rem 0 0;
        padding: 5.1rem 1rem 4.6rem;
    }
    #explore > .title {
        margin-left: 6rem;
    }
    #explore > .title > .circle {
        width: 4.5rem;
        height: 4.5rem;
    }
    #explore > .title > h2 {
        margin: 1.2rem 0 0 -1.8rem;
        text-align: center;
    }
    #explore > .title > h2 > span, .about__list span {
        display: block;
    }
    .explore__catalog {
        margin-top: 10.7rem;
        height: 99.2rem;
        row-gap: 2.6rem;
    }
    .explore__catalog > div {
        height: 31.3rem;
        padding-bottom: 1.8rem;
    }
    .poster_bid__bid_place {
        top: 11.6rem;
        left: 3.1rem;
        padding: 0.9rem 2.4rem 1rem;
        font-size: 1.3rem;
    }
    #explore .painter-estimation {
        margin-bottom: 1.5rem;
    }
    .explore__profile {
        width: 9.3rem;
        height: 4rem;
    }
    .explore__estimation {
        align-items: start;
    }
    .explore__estimation > img {
        margin-top: 0.4rem;
    }
    .explore__estimation > p {
        font-weight: normal;
    }
    #explore .catalog__bid_current > p:last-child {
        font-size: 1.5rem;
    }
    #creators {
        padding: 3.5rem 0;
        background-image: linear-gradient(to top, #1C121F21, #1C121F), url(image/Pattern.png);
        background-size: 23.4rem 17.2rem;
        background-repeat: no-repeat;
        filter: drop-shadow(0 0.3rem 0.3rem #00000025);
        margin-bottom: 0;
    }
    #creators > .title {
        margin-left: 3.7rem;
    }
    .creators__cards {
        padding: 8.6rem 0 3rem;
        row-gap: 1.5rem;
    }
    .creators__cards > div {
        margin: 0 auto;
        width: 21.4rem;
        height: 6.4rem;
    }
    .creators__cards > div:first-child {
        opacity: 0.7;
        filter: drop-shadow(0 0.3rem 0.3rem #00000025);
    }
    .creators__cards > div > img {
        margin-left: 1rem;
        width: 3rem;
        height: 3rem;
    }
    .creators__cards__content {
        margin-left: 0.8rem;
    }
    .creators__cards__content > p:first-child {
        letter-spacing: 0;
        white-space: nowrap;
        margin-bottom: 0.3rem;
    }
    .creators__cards__content > p:last-child {
        font-size: 0.9rem;
        /**line-height: 35.5px;**/
    }
    .cretors__cards__items {
        margin-left: 3.2rem;
        height: 3.8rem;
    }
    .creators__cards__items > p:first-child {
        padding-left: 1.9rem;
        font-size: 1.5rem;
        letter-spacing: 0.1rem;
        margin-bottom: 0.6rem;
    }
    .creators__cards__items > p:last-child {
        padding-left: 1.5rem;
        font-size: 1rem;
        /**line-height: 35.5px;**/
    }
    #subscribe {
        padding: 16rem 1.1rem 10rem 0.9rem;
        background-size: 23.4rem 8.4rem;
    }
    #subscribe > h2 {
        margin: 0 1.6rem 3.1rem 1.8rem;
        text-align: center;
    }
    .subscription {
        width: 100%;
        height: 4rem;
    }
    .email_add {
        padding: 1.3rem 10.6rem 1.2rem 2rem;
        font-size: 1.1rem;
    }
    .email_submit {
        top: 6rem;
        right: 4.8rem;
        width: 11.7rem;
        height: 3.4rem;
        padding: 0.9rem 2.1rem 0.9rem 2.2rem;
    }
    .submie-email > p {
        font-size: 1.5rem;
    }
    footer {
        justify-items: stretch;
    }
    .footer__text {
        font-size: 1.1rem;
    }
    .footer__rights {
        font-size: 1.3rem;
    }
    .about > h3 {
        margin-bottom: -0.6rem;
    }
    footer a {
        font-size: 1.1rem;
        /**line-height: 50.5px;**/
    }
    .support > h3 {
        margin-bottom: 1.1rem;
    }
}